.title{
    margin-top: 10vw;
}
.carousel{
    margin-top: 10vw;
}
p {
    font-style: italic;
    color: white;
}

h1 {
     text-align: center;
    color: white;
}
.form-control{
    margin-bottom: 10px;
}
label {
    text-align: center;
    color: white;
}

.right{
    right: 10px;
    position: absolute;
}

.left{
    left:10px;
    position: absolute;
}

.side{
    display: left;
}

body {
    background-color: #171917;
}

.title{
    color: white;
    text-align: center;
    margin-top: 1vw;
}

.sub-title{
    color: white;
    text-align: center;
}

.carousel {
    height: 65vw;
    background-color: #171917;

}

.carousel-inner img {
    height: 65vw;
    object-fit: contain;
    background-color: #171917;
}

.form-group{
padding: 10px;
}

.add{
    background-color: white;
}

.carousel-caption{
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px; /* Need a specific value to work */
}

.addArtworkDiv{
    text-align: center;
}

.modal-body label{
    color: black;
}

@media screen and (max-width: 481px) {
    .title{
        margin-top: 7vw;
        margin-bottom: 5vw;
    }

    .carousel{
        margin-top: 20vw;
        margin-bottom: 15vw;
        height: 70vh;
    }

    .carousel-inner img {
        height: 70vh;
        object-fit: contain;
        background-color: #171917;
    }
    .carousel-caption{
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        left: 0;
        right: 0;
        width: 100vw; /* Need a specific value to work */

    }

    .table{
        margin-left: 5px;
        width: 97.5vw;
        margin-bottom: 25vw;
    }

    .addArtwork {
        width: 100vw;
    }
    form{
        margin-left: 5px;
        width: 97.5vw;
    }
}